@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif; /* Adicionando uma fonte fallback */
    color: white;
    background-color: black;
}


header {
    display: flex;
    justify-content: right;
    padding: 8px;
    gap: 1rem;
    height: 50px;

}

ul {
    display: flex;
    justify-content: right;
    gap: 1rem;
    padding-right: 8px;
    padding-top: 5px;
    flex-wrap: wrap;
}

li{
    display: flex;
    justify-content: center;
}

a{
    color: white;
}

a:hover{
    color:rgb(131, 131, 131);
    transition: .08s;
    transform: scale(1.05);
}

button{
    background-color: yellow;
    border: none;
    gap: 8px;
    width: 120px;
    font-size: 16px;
    border-radius: 25px;
    color: black;
}

button:hover{
    color:rgb(255, 230, 0);
    transition: .08s;
    transform: scale(1.05);
    background-color: rgba(255, 255, 0, 0.233);
}

main{
    display: flex;
    padding: 32px;
    color: white;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 100vw;
    height: 60%;

}


.imagemfoto {
    height: 250px;
    border-radius: 50%;
    border: 3px solid yellow;
    cursor: pointer;
}

.textos {
    text-align: justify;
}

h1{
    font-size: 60px;
}

h2#sobre{
    text-align: left; /* Alinha o texto à esquerda */
    width: 100%; /* Faz o h2 ocupar toda a largura disponível */
    margin-bottom: 16px; /* Adiciona um espaço abaixo do h2 */
    color: yellow;
}

strong{
    color: yellow;
}


.sobremim{
    width: 95%; /* Define a largura da seção para 80% */
    margin: 0 auto; /* Centraliza a seção */
    padding: 16px;
}

.experiências {
    border-top: solid 1px yellow;
    width: 95%; /* Define a largura da seção para 80% */
    margin: 0 auto; /* Centraliza a seção */
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Cria duas colunas iguais */
    gap: 2rem; /* Espaço entre as colunas */
    padding: 16px; /* Espaçamento interno da seção */
    text-align: left; /* Alinha o texto à esquerda */
    align-items: center;
    justify-items: center;
}

.experiências h2 {
    grid-column: span 2; /* Faz o título ocupar as duas colunas */
    align-items: center; /* Centraliza o título */
    color: yellow;
}

.grid-item {
    display: flex;
    flex-direction: column; /* Organiza os itens em uma coluna */
    gap: 0.5rem; /* Espaço entre os parágrafos */
}

.experiências p:hover {
    color:grey
}


.profissional {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo da seção */
    color: yellow;
    justify-items: center;
    border-top: solid 1px yellow;
    width: 95%; /* Define a largura da seção para 80% */
    margin: 0 auto; /* Centraliza a seção */
    height: 100%;
}

.profissional h2 {
    align-self: center; /* Alinha apenas o h2 à esquerda */
    padding: 16px; /* Adiciona um espaçamento à esquerda */
    color: yellow;
    margin-bottom: 16px;

}


.profissional img{
    width: 180px;
    height: 160px;
    border-radius: 50%;
    border: 2px solid yellow;
}

.profissional p{
    padding: 16px;
    text-align: justify;
    margin-top: 16px;
}

footer section{
    margin-top: 36px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    justify-content: end;
    align-items: end;
}